body{
<<<<<<< HEAD
    font-family: "Muli" , sans-serif;
}

button{
    font-family: "Muli" , sans-serif;
}
=======
    font-family: "Muli",sans-serif;
}


$fz_all:14px;

>>>>>>> c034cd25ab20828afd6748ad1a3ad5e172c9f8ae
