@import "../layout/grid";
@import "../utilities/variables";
@import "../base/reset";
@import "../base/typograpy"; 

.all {
  @extend flex_center;
  color: $black;
  border: 1px solid $grey;
  height: 60px;

  &_left {
    @extend flex_center;
    padding-right: 20px;
    gap: 8px;
  }

  &_main {
    //  @extend flex_betwen;
    @extend flex_betwen;
    width: 695px;
    border-left: 1px solid $grey;
    padding: 0 15px;
    height: 100%;

    &_left {
      @extend flex_center;
      gap:5px;
      p{
        font-size: $fz_all;
      }
    }

    &_right{
      @extend flex_center;
        gap:15px;
        i{
            color: $black;
            font-size: 14px;
        }
    }
  }

  &_right {
        @extend flex_center;
        gap:85px;
        list-style: none;

        &_flag{
        border-left: 1px solid $grey;
        }
       a{
        color: $black;
       }
  }
}



